:root {
  --background: #f5f5f5;
  --background-sec: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-sec: #222222;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

main {
  margin: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 2rem;
  background-color: var(--background-sec);
}

img {
  min-width: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.title {
  width: 15rem;
}

.subtitle {
  font-size: large;
  font-weight: 300;
  margin: 0.5rem 0 0.5rem 0;
}

.barri-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.plots {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.plot {
  flex: 1 1 30%;
  min-width: 5rem;
  min-height: 20rem;
  margin: 0.5rem 0 0.5rem 0;
  border: 4px solid aqua;
}
