@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --background: #fafafa;
  --background-sec: #f7f9f9;
  --foreground: #353535;
  --plot-background: transparent /*#ecf0f5*/;
  --border: #a7a7a775;
  --box-shadow: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-sec: #222222;
    --foreground: #ededed;
    --plot-background: #141818;
    --box-shadow: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Lexend",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

main {
  margin: calc(5rem + 40px) 3rem 3rem 3rem;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 2rem;
  width: calc(100% - 40px);
  background-color: var(--background-sec);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

img {
  min-width: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: white;
}

.date-selector {
  margin: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: bold;
  font-size: 1.5em;
}
.date-selector > p {
  margin: 0.5rem;
  margin-left: 0;
}
.date-selector > input {
  width: calc(100% - 1rem);
  margin: 0;
  border: 1px solid var(--border);
  margin-bottom: 1rem;
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-weight: bold;
  font-size: 0.75em;

  border-radius: 0.5rem;
  padding: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }
}

.table-container {
  border-radius: 1rem;
  border: 1px solid var(--border);
  border-collapse: collapse;
  margin: 0 0 0 1rem;
  padding: 0;

  width: calc(100% - 1rem - 2px); /*margin + border*/
  height: auto;
  overflow-x: scroll;
  overflow-y: scroll;
}

table {
  border-radius: 1rem;
  /*overflow: hidden;*/
  min-width: 100%;
  font-size: small;
  table-layout: fixed;
  padding: 0;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;

  height: 1rem;
  background-color: var(--background-sec);
  /*display: flex;*/
  align-items: center;
  padding: 10px;

  border: 1px solid var(--border);
  border-collapse: collapse;
  margin: 0;
}
td {
  /*flex: 1;*/
  height: 1rem;
  background-color: var(--background);
  /*display: flex;*/
  align-items: center;
  padding: 10px;
  white-space: nowrap;

  border: 1px solid var(--border);
  border-collapse: collapse;
}

/*classes to align data in barriInfo.tsx*/
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/*hide duplicate borders*/
table thead tr th {
  border-top: none;
}
table tbody tr:last-child td {
  border-bottom: none;
}
table th:first-child,
table td:first-child {
  border-left: none;
}
table th:last-child,
table td:last-child {
  border-right: none;
}

/*scrollbar*/
main {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
/*.table-container:hover::-webkit-scrollbar-thumb{
  background-color: rgba(255, 0, 0, 0.5);

}*/

.title {
  width: 20rem;
}

.subtitle {
  font-size: large;
  font-weight: 300;
  margin: 0.5rem 0 0.5rem 0;
}

.barri-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.plots {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--background-sec);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  z-index: -1;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.dailyTitle {
  opacity: 0.55;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0.2em;
}
.dailyMetric {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0.15em;
}

.dailyMetrics {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  border: 0px;
  margin: 1rem 0 1rem 0;
  z-index: -1;
}

.Metric {
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--background-sec);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  flex: 1;
  z-index: -1;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.dailyMetrics {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  border: 0px;
  margin: 1rem 0 1rem 0;
  z-index: -1;
}

.Metric {
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  flex: 1;
  z-index: -1;
}

.modelPlots {
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  height: 25rem;
  z-index: -1;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.modelImportances {
  flex: 7;
  height: 23rem; /*padding*/
  padding: 1.5rem 0.75rem 0rem 0.75rem;
  background-color: var(--plot-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelStats {
  flex: 3;
  height: 23rem; /*padding*/
  padding: 1.5rem 0.75rem 0rem 0.75rem;
  background-color: var(--plot-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  width: 100%;
  min-height: 30rem;
  z-index: 0;
  display: flex;
  align-items: stretch;
}

.heatmap {
  height: 30rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  overflow: hidden;
  width: 100%;
  flex: 1;
  margin-right: 2rem;
  min-width: 0;
}

.barri-info {
  height: 30rem;
  border-radius: 0 0.5rem 0.5rem 0;
  /*overflow: hidden;*/
  width: 100%;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.plot {
  flex: 1 1 30%;
  min-width: 10rem;
  min-height: 15rem;
  height: 15rem;
  padding: 1.5rem 0.75rem 0rem 0.75rem;
  background-color: var(--plot-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
