:root {
  --background: #f5f5f5;
  --background-sec: #ededed;
  --foreground: #171717;
  --plot-background: #ecf0f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-sec: #222222;
    --foreground: #ededed;
    --plot-background: #141818;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

main {
  margin: calc(5rem + 40px) 3rem 3rem 3rem;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 2rem;
  width: calc(100% - 40px);
  background-color: var(--background-sec);
  z-index: 1;
}

img {
  min-width: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: white;
}

.title {
  width: 20rem;
}

.subtitle {
  font-size: large;
  font-weight: 300;
  margin: 0.5rem 0 0.5rem 0;
}

.barri-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.plots {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a7a7a7;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  z-index: -1;
}

.modelPlots {
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a7a7a7;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  height: 25rem;
  z-index: -1;
}

.modelImportances {
  flex: 7;
  height: 23rem; /*padding*/
  padding: 1.5rem 0.75rem 0rem 0.75rem;
  background-color: var(--plot-background);
  border: 1px solid #a7a7a775;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.modelStats {
  flex: 3;
  height: 23rem; /*padding*/
  padding: 1.5rem 0.75rem 0rem 0.75rem;
  background-color: var(--plot-background);
  border: 1px solid #a7a7a775;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.mapContainer {
  width: 100%;
  min-height: 30rem;
  z-index: 0;
  display: flex;
}

.heatmap {
  height: 30rem;
  border-radius: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  flex: 2;
}

.barriInfo {
  height: 30rem;
  border-radius: 0 0.5rem 0.5rem 0;
  overflow: hidden;
  flex: 2;
}

.plot {
  flex: 1 1 30%;
  min-width: 10rem;
  min-height: 15rem;
  height: 15rem;
  padding: 1.5rem 0.75rem 0rem 0.75rem;
  background-color: var(--plot-background);
  border: 1px solid #a7a7a775;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}
