streamlit   
altair         
pandas
numpy
geopandas
shapely
geopy
tensorflow
keras
scikit-learn
xgboost
joblib
google-genai
requests
bs4
playwright
asyncio
pydantic
python-dotenv
supabase
sqlalchemy
psycopg2-binary
statsmodels
tabulate
dill
plotly
matplotlib
networkx
